/**
* Template Name: Arsha - v4.10.0
* Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #e9f7ff;
}

img {
  /* max-width: 90%; */
  height: auto;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #42d40d;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #42d40d;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgb(233 247 255);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 55px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 700;
  color: #004e86;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #288800;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #004e86;
  font-size: 14px;
  border: 2px solid #42d40d;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #42d40d;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  /* bottom: 15px; */
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #288800;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background-image: url('./assets/img/Header.png');
  background-position: center;
  background-size: cover;
  padding: 26px;
}

.bg-background {
  background-image: url('./assets/img/Header.png');
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  /* margin: 0 0 10px 0; */
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #004e86;
  /* margin-right: 280px; */
}

#hero span {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #288800;

}

#hero h2 {
  color: rgb(0 78 134);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  /* margin: 10px 0 0 0; */
  color: #fff;
  background: #42d40d;
  margin-right: 330px;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    /* background: #ced6da; */
    background-image: url(./assets/img/Header.png);
    background-position: center;
    background-size: cover;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }  

  
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 47px;
    line-height: 36px;
    margin-left: 22px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  /* overflow: hidden; */
  background-color: #e9f7ff;
}

.section-bg {
    background-image: url('./assets/img/Vector_1.png');
}


.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}




/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.up{
  width: 0;
  height: 0;
  margin-top: -60px;
  margin-left: 460px;
  border-left: 95px solid transparent;
  border-right: 95px solid transparent;
  border-top: 100px solid #004e86;
}
.up p {
  text-align: center;
  top: -75px;
  left: -47px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0px;
  color: #fff;
  font-weight: 600;
}

.about .vertical_dotted_line {
  border-left: 2px dashed #050505;
  height: 440px;
  position: fixed;
  margin-left: -15px;
  margin-top: -445px;
}

.about .vertical_spacing {
  margin-left: 15px;
}

.about .content h3 {
  font-weight: 500;
  font-size: 20px;
  color: #004e86;
  margin-top: 25px;
  margin-left: 13px;
  margin-right: 5px;
}

.about span {
  font-size: 17px;
  color: #004e86;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #47b2e4;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #47b2e4;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #47b2e4;
}

.about .content .btn-learn-more:hover {
  background: #47b2e4;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 540px) {
  #about .up {
      margin-top: -52px;
      margin-left: 100px;
      margin-right: 85px;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top: 100px solid #004e86;
      padding-top: 0px;
      padding-bottom: 10px;
  }

  #about .vertical_dotted_line {
    border-left: 2px dashed #050505;
    height: 500px;
    position: fixed;
    margin-left: -15px;
    margin-top: -505px;
  }
  
  #about .vertical_spacing {
    margin-left: 15px;
  }


}

@media (max-width: 720px) {
  #about .up {
      margin-top: -52px;
      margin-left: 100px;
      margin-right: 85px;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top: 100px solid #004e86;
      padding-top: 0px;
      padding-bottom: 10px;
  }
  #about .vertical_dotted_line {
    border-left: 2px dashed #050505;
    height: 500px;
    position: fixed;
    margin-left: -15px;
    margin-top: -505px;
  }
  
  #about .vertical_spacing {
    margin-left: 15px;
  }


}

@media (max-width: 960px) {
  #about .up {
      margin-top: -73px;
      margin-left: auto;
      margin-right: auto;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top: 100px solid #004e86;
      padding-top: 0px;
      padding-bottom: 10px;
  }

}

/* @media (max-width: 1140px) {
  #about .up {
      margin-top: -62px;
      margin-left: 365px;
      margin-right: 85px;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-top: 100px solid #004e86;
  }

  #about .vertical_dotted_line {
    border-left: 2px dashed #050505;
    height: 500px;
    position: fixed;
    margin-left: -15px;
    margin-top: -505px;
  }
  
  #about .vertical_spacing {
    margin-left: 15px;
  }
  

}
 */


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
  padding: 50px 10px;
  transition: all ease-in-out 0.4s;
  margin-right: auto;
}

.services .icon-box .icon {
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 15px solid #004e86;
  position: relative;
  margin-left: auto;
  background: #004e86;
  text-align: center;
  box-shadow: 0px -3px 0 3px;
  color: #009cff;
}
.services .icon-1 {
  margin-top: 17px;
}
.services .icon-1 .icon{
  /* margin-top: 5px; */
  width: 80px;
  height: 80px;
}
.services .icon-2{
  margin-top: -23px;
}
.services .icon-2 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-3{
  margin-top: -46px;
}
.services .icon-3 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-4{
  margin-top: -23px;
}
.services .icon-4 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-5{
  margin-top: 10px;
}
.services .icon-5 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}

.services .section-title {
  padding: 0px;
}

.services .btn {
  padding-top: 10px;
  padding-left: 0px;
}

.services .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 15px 0 0 0;
  color: #fff;
  background: #42d40d;
}

.services .btn-get-started:hover {
  background: #42d40d;
}

@media (max-width: 540px) {
  #services {
    background: aliceblue;
  }

  #services .icon-box {
    padding: 50px 10px;
    transition: all ease-in-out 0.4s;
    margin-right: -6px;
  }

  #services .icon-1 {
    margin-top: 50px;
    text-align: center;
  }
  #services .icon-1 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }

  .services .icon-2{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-2 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-3{
    margin-top: -46px;
    text-align: center;
  }
  .services .icon-3 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-4{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-4 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-5{
    margin-top: 10px;
    text-align: center;
  }
  .services .icon-5 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
}

@media (max-width: 720px) {
  #services {
    background: aliceblue;
  }

  #services .icon-box {
    padding: 50px 10px;
    transition: all ease-in-out 0.4s;
    margin-right: -6px;
  }

  #services .icon-1 {
    margin-top: 50px;
    text-align: center;
  }
  #services .icon-1 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }

  .services .icon-2{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-2 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-3{
    margin-top: -46px;
    text-align: center;
  }
  .services .icon-3 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-4{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-4 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-5{
    margin-top: 10px;
    text-align: center;
  }
  .services .icon-5 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
}

@media (max-width: 960px) {
  #services {
    background: aliceblue;
  }

  #services .icon-box {
    padding: 50px 10px;
    transition: all ease-in-out 0.4s;
    margin-right: -6px;
  }

  #services .icon-1 {
    margin-top: 50px;
    text-align: center;
  }
  #services .icon-1 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }

  .services .icon-2{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-2 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-3{
    margin-top: -46px;
    text-align: center;
  }
  .services .icon-3 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-4{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-4 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
  
  .services .icon-5{
    margin-top: 10px;
    text-align: center;
  }
  .services .icon-5 .icon{
    width: 80px;
    height: 80px;
    margin-left: auto;
  }
}

/* @media (max-width: 1140px) {
  #services {
    background: aliceblue;
  }

  #services .icon-box {
    padding: 50px 10px;
    transition: all ease-in-out 0.4s;
    margin-right: -6px;
  }

  #services .icon-1 {
    margin-top: 50px;
    text-align: center;
  }
  #services .icon-1 .icon{
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }

  .services .icon-2{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-2 .icon{
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  
  .services .icon-3{
    margin-top: -46px;
    text-align: center;
  }
  .services .icon-3 .icon{
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  
  .services .icon-4{
    margin-top: -23px;
    text-align: center;
  }
  .services .icon-4 .icon{
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  
  .services .icon-5{
    margin-top: 10px;
    text-align: center;
  }
  .services .icon-5 .icon{
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
} */


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background-image: url('./assets/img/COntact_us_ARROW_3.png');
  background-position: right;
  background-repeat: no-repeat;

}
.contact .info {
  border-top: 3px solid #ffffff;
  background: #fff;
  background-color: #e9f7ff;
  width: 100%;
  height: 90%;
  border-radius: 15px;
}
.contact .content-1 {
  color: #178ed0;
    margin-left: 100px;
    padding-bottom: 15px;
}

@media (max-width: 960px) {
  .contact .content-1 {
    color: #178ed0;
    margin-left: 75px;
    padding-bottom: 15px;
  }
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.section-title-1 {
  color: #5f91e8;
  text-align: center;
  padding-bottom: 12px;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  height: 90%;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  padding: 30px;
  background: transparent;
  border-radius: 15px;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 15px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #42d40d;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #42d40d;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  #contact {
    background: #e9f7ff;
  }
  #contact .php-email-form {
    width: 100%;
    height: 100%;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    background-color: #b4d6ff;
    border-radius: 15px;
  }
  
  
  }
  

/* ------------------------------------
    13. Cta Section CSS
---------------------------------------*/
.bg7 {
  background: url('./assets/img/cta-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rs-cta.style1 .title-wrap .epx-title {
  padding-top: 50px;
  /* padding-bottom: 50px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: #fff;
  margin: 0px;
}
.rs-cta.style1 span {
  font-weight: 500;
  margin: 0 0 10px;
  display: block;
  line-height: 28px;
  font-family: 'Livvic', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.rs-cta.style1.bg-widget {
  background-image: linear-gradient(150deg, #e10bd1 46%, #0e73e4 100%);
}

.rs-cta .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #42d40d;
}

.rs-cta .btn-get-started:hover {
  background: #209dd8;
}

/* @media only screen and (max-width: 991px){
  #md-center {
    text-align: center !important;
}
} */

@media only screen and (max-width: 480px) {
.rs-cta.style1 .title-wrap .epx-title, .sec-title2 .title {
    font-size: 28px;
    text-align: center;
}
/* .rs-cta.style1 .button-wrapt .btn-get-started {
  margin-bottom: 50px;
  margin-left: 85px;
} */

}

@media only screen and (max-width: 991px){
.md-center {
    text-align: center !important;
    /* padding-bottom: 30px; */
}
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #37517e;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #e9f7ff;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #42d40d;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #42d40d;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  /* background: #e9f7ff; */
  background-color: #ddd;
  background-image: url('./assets/images_1/bg/footer-bg.png');
  background-position: center top;

}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact span {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  color: #288800;
}



#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #47b2e4;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}