/* body{
    background: #000;
  } */
  
  .planet{
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .planet__earth {
    /* width: 27.25rem;
    height: 27.9rem; */
    border-radius:50%;
    /* background-size: cover;
    background-position: 65%; */
    box-shadow: -3.65rem -1.15rem 3.025rem 1.1125rem #000 inset, 0 0 0.025rem 0.125rem #fff;
    animation: earth-animate 1000s linear alternate infinite;
    transform: rotate(5deg);
    background-image: url("http://localhost/elf_fincorp/assets/img/earth_background.png");
    position: relative;
  }
  
  .planet__earth:active{
    animation-play-state: paused;
  }
  @keyframes earth-animate{
    100%{
      background-position: 10000%;
    }
  }
  
  .planet__satellite{
    position: absolute;
    width: 3rem;
    top: 15%;
    left: 24%;
  }
  