/**
* Template Name: Arsha - v4.10.0
* Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #e9f7ff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #42d40d;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #42d40d;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgb(233 247 255);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 55px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 700;
  color: #004e86;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #288800;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #004e86;
  font-size: 14px;
  border: 2px solid #42d40d;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #42d40d;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  /* bottom: 15px; */
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #288800;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #47b2e4;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
 /* ------------------------------------
    07. Breadcrumbs Section CSS
---------------------------------------*/
.rs-breadcrumbs {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.rs-breadcrumbs .breadcrumbs-inner {
  padding: 140px 0 150px;
}
.rs-breadcrumbs .breadcrumbs-inner .page-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 5px;
  color: #fff;
}
.rs-breadcrumbs .breadcrumbs-inner .page-title.new-title {
  margin: 0 auto;
  max-width: 850px;
}
.rs-breadcrumbs .breadcrumbs-inner ul {
  padding: 0;
}
.rs-breadcrumbs .breadcrumbs-inner ul li {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
.rs-breadcrumbs .breadcrumbs-inner ul li a {
  position: relative;
  padding-right: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}
.rs-breadcrumbs .breadcrumbs-inner ul li a:before {
  background-color: #fff;
  content: "";
  height: 15px;
  width: 1px;
  position: absolute;
  right: 9px;
  top: 2px;
  transform: rotate(26deg);
}
.rs-breadcrumbs .img1 {
  background-image: url('../images_1/breadcrumbs/1.jpg');
  background-position: center top;
}
.rs-breadcrumbs .img2 {
  background-image: url('../images_1/breadcrumbs/2.jpg');
}
.rs-breadcrumbs .img3 {
  background-image: url('../images_1/breadcrumbs/3.jpg');
}
.rs-breadcrumbs .img4 {
  background-image: url('../images_1/breadcrumbs/4.jpg');
} 


/*--------------------------------------------------------------
# curved  Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #e9f7ff;
}

#hero .curve {
  border-radius: 0 0 45% 45%/ 0 0 45% 45%;
  transform: scaleX(1.2);
  background: #ced6da;
  padding: 4rem 0rem;
  width: 100%;
  z-index: 2;
  color: white;
  /* position: relative; */
  overflow: hidden;
  text-align: center;

}

#hero h1 {
  margin: 0 0 0 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
  color: #004e86;
  padding-right: 220px;
}

#hero span{
  color : #288800;
}

#hero h2 {
  color: #004e86;
  margin-bottom: 50px;
  font-size: 17px;
  margin: 1px 35px 0px 45px;
  padding-bottom: 15px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  /* font-weight: 500; */
  font-size: 10px;
  /* letter-spacing: 1px; */
  display: inline-block;
  padding: 10px 22px 10px 22px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #42d40d;
}

#hero .btn-get-started:hover {
  background: #42d40d;
}


/* #hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
} */

@media (max-width: 991px) {
  #hero {
    height: 760px;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 46px 0;
  overflow: hidden;
  background-color: #e9f7ff;
}

.section-bg {
  background-image: url(../img/Vector_1.png);
  /* background-color: #f3f5fa; */
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  /* height: 3px; */
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
.services .cta-btn{
  padding-top: 5px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  /* box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1); */
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  /* background: #fff; */
}

.services .icon-box .icon {
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 15px solid #3c5681;
  position: relative;
  margin-left: 0px;
  background: #3c5681;
  text-align: center;
}
.services .icon-1{
  margin-top: 25px;
}
.services .icon-1 .icon{
  /* margin-top: 5px; */
  width: 80px;
  height: 80px;
}
.services .icon-2{
  margin-top: -10px;
}
.services .icon-2 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-3{
  margin-top: -46px;
}
.services .icon-3 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-4{
  margin-top: -10px;
}
.services .icon-4 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-5{
  margin-top: 25px;
}
.services .icon-5 .icon{
  margin-top: 5px;
  width: 80px;
  height: 80px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  /* line-height: 24px; */
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}

.services .section-title {
  padding: 0px;
}
.services .btn {
  padding-top: 10px;
  padding-left: 0px;
}

.services .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 20px 11px 20px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #42d40d;
}

.services .btn-get-started:hover {
  background: #42d40d;
}



/*--------------------------------------------------------------
# section start
--------------------------------------------------------------*/
.forex {
  background-color: #e9f7ff;
}
.sec-title {
  margin-left: 20px;
  position: relative;
  /* margin-top: 95px; */
  margin-top: 40px;
  padding-top: 60px;
  border-top: 3px solid #95a6da;
  border-bottom: 3px solid #95a6da;
  padding-bottom: 45px;
}

.sec-title .sub-text {
  position: relative;
  padding-left: 95px;
  display: inline-block;
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #439eb7;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sec-title .sub-text:after {
  content: "";
  position: absolute;
  border: 0;
  height: 4px;
  width: 50px;
  background-color: #439eb7;
  z-index: 1;
  margin-left: 0;
  left: 24px;
  top: 12px;
}
.sec-title .sub-text:before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  height: 4px;
  width: 12px;
  background-color: #439eb7;
}
.sec-title .sub-text.new {
  color: #ffffff;
  font-size: 15px;
  padding-left: 0;
}
.sec-title .sub-text.new:before {
  display: none;
}
.sec-title .sub-text.new:after {
  display: none;
}
.sec-title .sub-text.new-text {
  padding-left: 0;
  margin-bottom: 7px;
  color: #ffffff;
}
.sec-title .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: #101010;
  margin: 0;
}
.sec-title .title.white-color {
  color: #ffffff;
}
.sec-title .desc {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.sec-title .desc.white-color {
  color: #fff;
}
.sec-title .desc-big {
  font-size: 28px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
}

.sec-title-1 {
  margin-left: 20px;
  position: relative;
  /* margin-top: 95px; */
  margin-top: 145px;
  padding-top: 60px;
  border-top: 3px solid #95a6da;
  border-bottom: 3px solid #95a6da;
  padding-bottom: 45px;
}
.sec-title-1 .sub-text {
  position: relative;
  padding-left: 95px;
  display: inline-block;
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #439eb7;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sec-title-1 .sub-text:after {
  content: "";
  position: absolute;
  border: 0;
  height: 4px;
  width: 50px;
  background-color: #439eb7;
  z-index: 1;
  margin-left: 0;
  left: 24px;
  top: 12px;
}
.sec-title-1 .sub-text:before {
  content: '';
  position: absolute;
  left: 0;
  top: 12px;
  height: 4px;
  width: 12px;
  background-color: #439eb7;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #37517e;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #e9f7ff;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #42d40d;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #42d40d;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  /* background: #e9f7ff; */
  background-color: #ddd;
  background-image: url(../images_1/bg/footer-bg.png);
  background-position: center top;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact span {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 600;
  color: #288800;
}



#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #47b2e4;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}